[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "flask --app app --debug run"

[packages]
ckiptagger = {extras = ["gdown"], version = "*"}
tensorflow = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
